body {
    font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    background: #fdf6e3;
    color: #b58900;
}

.base03  { color: #002b36 }
.base02  { color: #073642 }
.base01  { color: #586e75 }
.base00  { color: #657b83 }
.base0   { color: #839496 }
.base1   { color: #93a1a1 }
.base2   { color: #eee8d5 }
.base3   { color: #fdf6e3 }

.yellow  { color: #b58900 }
.orange  { color: #cb4b16 }
.red     { color: #dc322f }
.magenta { color: #d33682 }
.violet  { color: #6c71c4 }
.blue    { color: #268bd2 }
.cyan    { color: #2aa198 }
.green   { color: #859900 }

.vessel {
    width: 320px;
    border: 1px solid #b58900;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.25);
    margin-bottom: 10px;
}

.vessel h2 {
    /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
    font-weight: normal;
    margin: 0;
    padding-left: 4px;
    background-color: #b58900;
    color: #eee8d5;
}

.vessel h2 a {
    color: #eee8d5;
    float: right;
}

.target input[type='number'] {
    width: 5em;
}

text {
    fill: #839496;
}

.axis path,
.axis line {
    fill: none;
    stroke: #eee8d5;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.line.temp-probe {
    stroke: steelblue;
}

.line.target-temp {
    stroke: #cc0000;
}
