body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    background: #161616;
    color: #bbbfc2;
}

h1 {
    font-size: 150%;
}

.vessel {
    width: 320px;
    background-color: #1f1f1f;
    margin-bottom: 10px;
}

.vessel h2 {
    font-size: 109%;
    line-height: 120%;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    text-align: center;
    cursor: pointer;
}

span.temp-probe {
    color: #ed8445;
    font-weight: bold;
    float: right;
    padding-right: 2em;
    font-size: 120%;
}

.target input[type='number'] {
    width: 5em;
}

text {
    fill: #bbbfc2;
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #444444;
    shape-rendering: crispEdges;
}

.domain {
    display: none;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.line.temp-probe {
    stroke: #ed8445;
}

.line.target-temp {
    stroke: #e04e47;
}
