body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #161616;
    color: #bbbfc2;
    font-size: 14px;
}

h1 {
    color: #e9b746;
    font-size: 120%;
    margin-top: 0;
}

.clickable,
.clickable label {
    cursor: pointer;
}

.title-bar {
    background-color: #1f1f1f;
    font-size: 120%;
    font-weight: bold;
    padding: 0.2em;
}

.brand {
    color: #e9b746;
    float: left;
    padding-right: 1em;
}

.clock {
    float: right;
}

.chart {
    margin-top: 1em;
    display: table;
    width: 100%;
}

.chart .inner {
    display: table-row;
}

.temp-graph {
    display: table-cell;
    vertical-align: top;
    padding: 0.2em;
    background-color: #1f1f1f;
    width: 80%;
    height: 20em;
}

.controls {
    width: 15%;
    display: table-cell;
    vertical-align: top;
    padding-left: 1em;
}

.control {
    padding: 0.2em;
    background-color: #1f1f1f;
    margin-bottom: 2em;
}

.control-settings {
    width: 16em;
}

.pin-state {
    width: 16em;
}

.pin-state .radio-group {
    margin-bottom: 0.5em;
}

.temp,
.pin {
    font-weight: bold;
    text-align: center;
}

.temp label,
.pin label {
    display: block;
    font-variant: small-caps;
    opacity: 0.9;
}

.temp .value,
.pin .value {
    font-size: 300%;
    text-transform: uppercase;
}

.temp.orange { color: #ed8445 }
.line.orange { stroke: #ed8445 }

.temp.orange-alt { color: #e04e47 }
.line.orange-alt { stroke: #e04e47 }

.temp.blue { color: #72d0df }
.line.blue { stroke: #72d0df; }

.temp.blue-alt { color: #7fb170 }
.line.blue-alt { stroke: #7fb170; }

.heater {
    margin-top: 1em;
}

.app-settings {
    width: 16em;
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
}

.modal > * {
    display: block;
    margin: 0 auto;
    background-color: #2C2C2C;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    /*-webkit-box-shadow: 0px 0px 16px 0px rgba(233,183,70,1);*/
    /*-moz-box-shadow: 0px 0px 16px 0px rgba(233,183,70,1);*/
    /*box-shadow: 0px 0px 16px 0px rgba(233,183,70,1);*/
}

form.heater {
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    text-align: center;
}

text {
    fill: #bbbfc2;
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #444444;
    shape-rendering: crispEdges;
}

.domain {
    display: none;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.main-actions {
    text-align: center;
}

form {
    position: relative;
}

form > label {
    display: table-row;
}

form > label span:first-child {
    display: table-cell;
    text-align: right;
    padding: 0.5em 0.4em 0.5em 0;
}

form > label > input {
    display: table-cell;
}

form .radio-group label {
    padding-right: 0.5em;
}

form .actions {
    padding-top: 1em;
}

form .actions a {
    margin-left: 1em;
}

a.btn {
    color: #bbbfc2;
    text-decoration: none;
}

a.btn.cancel {
    color: #929598;
    text-transform: lowercase;
}

a.btn.delete {
    float: right;
    text-transform: lowercase;
}

a.btn:hover {
    color: #fff;
}

input.delete {
    float: right;
}
